<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="VerboseLayout"
            value="${date:format=HH\:mm\:ss.fff} ${level:upperCase=true} ${logger} ${message}" />
  <variable name="ExceptionVerboseLayout"
            value="${date:format=yyyy-MM-dd} ${VerboseLayout} ${onexception:${newline}} ${exception:format=ToString}" />
  <!--<variable name="verbose" value="${shortdate} | ${level:upperCase=true} | ${logger} | ${message}"/>-->
  <targets>
    <target name="debug" xsi:type="Debugger" layout="${ExceptionVerboseLayout}" />
    <target name="console" xsi:type="ColoredConsole" layout="${VerboseLayout}" />
    <target xsi:type="FilteringWrapper"
            condition="length('${exception}')>0"
            name="consoleException">
      <target xsi:type="ColoredConsole"
              layout="${ExceptionVerboseLayout}" />
    </target>

    <target name="logfile" xsi:type="File" fileName="hasm.log" layout="${ExceptionVerboseLayout}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="debug" />
    <logger name="*" minlevel="Info" writeTo="logfile,console,consoleException" />
  </rules>
</nlog>